<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwj.identity.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.cwj.identity.model.User">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, `name`, org_id, `position`
  </sql>
    <select id="selectByOrgId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where org_id = #{orgId}
    </select>
    <select id="selectUserByKeyWord" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        name like concat('%',#{keyWord},'%')
        or
        user_id like concat('%',#{keyWord},'%')
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.cwj.identity.model.User"
            useGeneratedKeys="true">
    insert into user (`name`, org_id, `position`
      )
    values (#{name,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.cwj.identity.model.User"
            useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="position != null">
                `position`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cwj.identity.model.User">
        update user
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                `position` = #{position,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cwj.identity.model.User">
    update user
    set `name` = #{name,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>
